# Форма: https://docs.google.com/forms/d/e/1FAIpQLSeSG53u4vTYACiOP6ySpFCQQmPkZohteOah-8MYnxJzCMoOVw/viewform

REACT_APP_GOOGLE_FORM_ID=1FAIpQLSeSG53u4vTYACiOP6ySpFCQQmPkZohteOah-8MYnxJzCMoOVw

# Из кода страницы формы: name="fbzx" (при 400 обновите)
REACT_APP_GF_FBZX=

REACT_APP_GF_ENTRY_NAME=entry.559352220
REACT_APP_GF_ENTRY_ATTENDING=entry.877086558
REACT_APP_GF_ENTRY_PLUS_ONE=entry.924523986
REACT_APP_GF_ENTRY_TRANSFER=entry.186230675
REACT_APP_GF_ENTRY_MENU=entry.1952658341
REACT_APP_GF_ENTRY_COMMENT=entry.1751303409
